body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*******Header*******/

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color:black;
}
a{
    color: black;
}
nav{
    margin-bottom: 30px;
    height: 80px ;
}
.active{
    font-weight: bolder;
    font-size: 1.2rem;
}

/**********Créer********/
button {
    margin-left: 40%;
}

/******Tableaux*******/
table{
    margin-top: 30px;
}
thead{
    text-align: center;
    font-weight: bold;
}
tbody{
    text-align: center;
}
li{
    margin-left: 30px;
  
}
.pencil,.trash,.eye{
    color:black;
}
.eye:hover{
    color: blue;
}
.pencil :hover{
    color: green;
}

.trash :hover{
    color: red;
}

/*********Formulaires**********/
form{
    width:50% ;
    margin: 0 auto;
}
hr{
    width: 50%;
    margin: 0 auto ; 
    margin-bottom: 50px;
    margin-top: 30px ;
}
.div-form{
    margin-top: 20px;
}
.date{
    width: 130px;
}
.espace{
    padding-left: 20px;
    width:150px;
}
.submit{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
}


